@model TodoLIst.Models.TodoEntry
@{
    ViewData["Title"] = "Index";
}

@using (Html.BeginForm("EditEntry", "Home", FormMethod.Post))
{
    <div class="input-group">
        @Html.Hidden("Id")
        @Html.TextBoxFor(m => m.Text, new {@Value = "Enter Name", @class = "red" })
        @Html.CheckBoxFor(m => m.isHighPriority)
        <div class="input-group-append">
            <button type="submit" class="btn btn-success"></button>
        </div>
    </div>
}
<style>
    /*.red {
        color: red;
    }*/
</style>

